h1 {
  text-align: center;
  background-color: pink;
  height: 5em;
  border-radius: 5em;
  border: 1em, double, black;
  padding-top: 3em;
}
h2 {
  text-align: center;
  background-color: tan;
  border-radius: 5em;
}
table {
  background-color: aquamarine;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
}
th {
  padding-left: 5em;
  padding-right: 5em;

}
td {
  padding-left: 5em;
  padding-right: 5em;

}
#averageBlock {
  text-align: center;
  background-color: aquamarine;
}